body {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Monomaniac One', sans-serif;
}

h1 {
    margin-bottom: -25px;
    animation: float 2s ease-in-out infinite;
}
h2 {
    animation: float 2s ease-in-out infinite;
    font-size: 20px;
}

span {
    color: #ff6961;
    font-weight: bold;
}
/* class */

.Main {
    padding-bottom: 5%;
}

/* ids */

#fraseDeEfeito {
    position: relative;
    top: 20px;
    animation: pulse 2.5s infinite;
}

/* keyframes */
@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-5px)
	}
}

@keyframes pulse{
    0% {
        opacity: 0;
    } 
    10% {
        opacity: 0.2;
    }
    20% {
        opacity: 0.7;
    }
    30%{
        opacity: 0.8;
    }
    40%{
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}


@media screen and (min-width: 425px) and (max-width: 767px)  {
    body {
        width: 500px;
        margin: 0 auto;
    }
    .container {
        width: 500px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
    body {
        width: 700px;
        margin: 0 auto;
    }

    .container {
        width: 700px;
    }
}
@media screen and (min-width: 375px) and (max-width: 424px) {
    body {
        width: 200px;
        margin: 0 auto;
    }

    .container {
        width: 200px;
    }
}